<div class="card">
    <h2>{{title}}</h2>
    <p>Таким образом управление и развитие структуры способствует подготовке и реализации дальнейших направлений
        развития.</p>
    <p>{{text}}</p>
    <!-- <strong>Номер: {{number}}</strong> -->
    <!-- <em>{{array}}</em> -->
    <pre>{{obj|json}}</pre>
    <p>{{textObj}}</p>

    <p>{{ getInfo() }}</p>

    <div>
        <img src="{{imgUrl}}">
        <!-- <img src="{{imgUrl2}}"> -->
        <!-- TODO  binding method bugfix -->
        <!-- <img [src]="imgUrl"> -->
        <!-- <br>
        <button [disabled]="disabled">Enable</button> -->
    </div>

</div>