<div class="card">
    <!-- Директива [ngStyle] синтаксис и функционал -->
    <h2 [ngStyle]="{
        color: title.length < 5 ? 'blue' : 'green',
        fontWeight: title.length < 7 ? 'bold': 'normal'
    }">{{title}}</h2>

    <p>Таким образом управление и развитие структуры способствует подготовке и реализации дальнейших направлений
        развития.</p>
    <!-- <p>{{text}}</p> -->

    <!-- Директива [ngClass] с добавлением классов -->
    <p class="text" [ngClass]= "{
        blue: textColor === 'blue',
        green: textColor === 'green',
        red: textColor === 'red'
    }">{{text}}</p>
    <div class="buttons">
        <button (click)="textColor='blue'">Цвет текста - синий</button>
        <button (click)="textColor='green'">Цвет текста - зеленый</button>
        <button (click)="textColor='red'">Цвет текста - красный</button>
    </div>

    <!-- <strong>Номер: {{number}}</strong> -->
    <!-- <em>{{array}}</em> -->
    <!-- <pre>{{obj|json}}</pre> -->
    <!-- <p>{{textObj}}</p> -->

    <p>{{ getInfo() }}</p>

    <div>
        <img src="{{ imgUrl }}">
        <!-- <img src="{{imgUrl2}}"> -->
        <!-- TODO  binding method bugfix -->
        <!-- <img [src]="imgUrl"> -->
        <!-- <br>
        <button [disabled]="disabled">Enable</button> -->
    </div>
    <div class="buttons">
        <button (click)="changeTitle()">Изменить заголовок</button>
        <button (click)="title='inline заголовок'">Изменить заголовок inline</button>
    </div>
    <!-- <div>-->
    <!-- 1 two-way binding -->
    <!-- <input type="text" (input)="inputHandler($event)" [value]="title"> -->
    <!-- 2 two-way binding -->
    <!-- <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]="title"> -->
    <!-- </div>  -->

    <!-- 3 two-way binding спомощь включения модуля FormsModule -->
    <div>
        <input type="text" [(ngModel)]="title" (ngModelChange)="changeHandler()">
    </div>
</div>